<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Matheus Oliveira">
    <title>Crud - PHP & AngularJS</title>
    <!-- JS, Angular and JQuery files used to run the dataTable plugin -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/angular-datatables.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Bootstrap and dataTable stylisheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
  </head>
  <body ng-app="crudApp" ng-controller="crudController">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center ">
        <h1 class="h3 mb-3 font-weight-normal">Método de Leitura, Adição, Alteração e Deleção</h1>
        <small class="text-muted">Usando PHP, AngularJS, dataTable Library e Bootstrap </small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container" ng-init="fetchData()">
          <div class="alert alert-success alert-dismissible" ng-show="success" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
            {{successMessage}}
          </div>
          <div align="right">
            <button type="button" name="addButton" ng-click="addData()" class="btn btn-success">Adicionar</button>
          </div>
          <div class="table-responsive" style="overflow-x: unset;">
            <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Primeiro Nome</th>
                  <th>Ultimo Nome</th>
                  <th>Editar</th>
                  <th>Deletar</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="name in namesData">
                  <td>{{name.firstName}}</td>
                  <td>{{name.lastName}}</td>
                  <td><button type="button" ng-click="fetchSingleData(name.id)" class="btn btn-info btn-xs">Alterar</button></td>
                  <td><button type="button" ng-click="deleteData(name.id)" class="btn btn-danger btn-xs">Deletar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" ng-submit="submitForm()">
        <div class="modal-header">
          <h4 class="modal-title">{{modalTitle}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible" ng-show="error" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
            {{errorMessage}}
          </div>
          <div class="form-group">
            <label for="firstName">Insira o primeiro nome</label>
            <input type="text" name="firstName" ng-model="firstName" class="form-control" />
          </div>
          <div class="form-group">
            <label for="lastName">Insira o ultimo nome</label>
            <input type="text" name="lastName" ng-model="lastName" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="hiddenId" value="{{hiddenId}}" />
          <input type="submit" name="submitButton" id="submitButton" class="btn btn-info" value="{{submitButton}}" />
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  var app = angular.module('crudApp', ['datatables']);
  app.controller('crudController', function($scope, $http){

    $scope.success = false;
    $scope.error = false;

    $scope.fetchData = function(){
      $http.get('fetch_data.php').success(function(data){
        $scope.namesData = data;
      });
    }

    $scope.openModal = function(){
      var modalPopup = angular.element('#crudmodal');
      modalPopup.modal('show');
    }

    $scope.closeModal = function(){
      var modalPopup = angular.element('#crudmodal');
      modalPopup.modal('hide');
    }

    $scope.addData = function(){
      $scope.modalTitle = 'Adicionar Registro';
      $scope.submitButton = 'Inserir';
      $scope.openModal();
    }

    $scope.formData = {};

    $scope.submitForm = function(){
      $http({
        method:"POST",
        url:"insert.php",
        data:{
          'firstName' : $scope.firstName,
          'lastName'  : $scope.lastName,
          'action'    : $scope.submitButton,
          'id'        : $scope.hiddenId
        }
      }).success(function(data){
        if(data.error != ''){
          $scope.success = false;
          $scope.error = true;
          $scope.errorMessage = data.error;
        }else{
          $scope.success = true;
          $scope.error = false;
          $scope.successMessage = data.message;
          $scope.formData = {};
          $scope.closeModal();
          $scope.fetchData();
        }
      });
    }

    $scope.fetchSingleData = function (id){
      $http({
        method:"POST",
        url:"insert.php",
        data:{
          'id':id, 
          'action':'fetchSingleData'
        }
      }).success(function(data){
        $scope.firstName = data.firstName;
        $scope.lastName = data.lastName;
        $scope.hiddenId = id;
        $scope.modalTitle = 'Alterar Registro';
        $scope.submitButton = 'Alterar';
        $scope.openModal();
      });
    }

    $scope.deleteData = function(id){
      if(confirm("Tem certeza que deseja deletar esse registro?")){
        $http({
          method:"POST",
          url:"insert.php",
          data:{'id':id, 'action':'Deletar'}
        }).success(function(data){
          $scope.success = true;
          $scope.error = false;
          $scope.successMessage = data.message;
          $scope.fetchData();
        });
      }
    }

  });

</script>